@mixin main-container {
    max-width: $max-width;
    padding-left: $padding-default-value;
    padding-right: $padding-default-value;
}

@mixin center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin auto-padding{
    @media #{$pc}{
        padding-left: 7%;
        padding-right: 7%;
    }
}