$brand-color-white: #ffffff;
$brand-color-blue: #2b4fb2;
$brand-color-orange: #f86f61;
$brand-color-black: #000000;
$background-color: #f2f2f2;

$font-content: 'Rubik', sans-serif;
$font-heading: 'Source Sans Pro', sans-serif;

$max-width: 1160px;
$padding-default-value: 96px;
$space-between-section: 200px;

$smartphone-size: 840px;

$smartphone: "screen and (max-width: "+ $smartphone-size + ")";
$smartphone-h: $smartphone + " and (orientation: landscape)";
$smartphone-v: $smartphone + " and (orientation: portrait)";