$brand-color-white: #ffffff;
$brand-color-blue: #2b4fb2;
$brand-color-orange: #f86f61;
$brand-color-black: #000000;

$font-content: 'Rubik', sans-serif;
$font-heading: 'Source Sans Pro', sans-serif;

$max-width: 1160px;
$padding-default-value: 96px