header {
  width: 100%;
  height: auto;
}

header.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  color: #2b4fb2 !important;
}

.navbar-default .navbar-toggle {
  border: none;
}

.icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.nav.navbar-nav.navbar-right a:hover {
  color: #f86f61;
  text-decoration: underline;
}