@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #000000; }

html {
  overflow-x: hidden; }

body {
  background-color: #f2f2f2; }
  @media screen and (min-width: 1281px) {
    body {
      font-size: 2em; } }

h1, h2 {
  color: #2b4fb2;
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  font-weight: bold; }

main {
  margin-top: 100px; }

.bigger {
  font-size: 2em; }

.content {
  padding: 0 20px; }

.container {
  max-width: 1160px; }
  .container.bc-white {
    background-color: #ffffff; }

.center-items {
  display: flex;
  align-items: center;
  justify-content: center; }

.date {
  color: #2b4fb2;
  font-weight: 600; }

.container-fluid {
  padding: 0 !important; }

.space-after {
  margin-bottom: 50px; }

.text-right {
  text-align: right; }

.video::before {
  content: "→ ";
  display: inline-block;
  color: red; }

#about {
  color: #2b4fb2; }
  #about h2 {
    color: #2b4fb2;
    font-weight: bold;
    padding-left: 15px; }
  #about p {
    padding-top: 10px;
    font-size: 20px; }
  #about .row {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 7%;
    padding-right: 7%; }
  #about img {
    margin-top: 50%; }
  #about a {
    color: #f86f61;
    border-bottom: 2px solid;
    text-decoration: none; }
    #about a:hover {
      opacity: 0.5; }
    #about a.video {
      display: inline-block;
      padding-top: 10px;
      font-size: 10px;
      opacity: 0.5;
      color: #f86f61;
      border-bottom: 1px solid; }
      #about a.video:hover {
        text-decoration: none;
        opacity: 1; }

#contact form {
  margin-bottom: 12px; }

#contact label {
  display: block;
  margin: 12px 0; }
  #contact label > input[type=text], #contact label > input[type=email] {
    float: right;
    width: 66%; }

#contact p > label {
  display: inline-block;
  cursor: pointer; }

#contact input[type=radio] {
  margin: 0 12px; }

#contact input[type=submit] {
  width: 100%;
  color: #ffffff;
  background-color: #f86f61; }

#contact textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  padding: 8px; }

#disclaimer {
  padding: 80px 0 !important;
  background-color: #2b4fb2; }
  #disclaimer p {
    color: #ffffff; }
  #disclaimer a {
    color: #ffffff;
    border-bottom: 1px solid white; }
    #disclaimer a:hover {
      text-decoration: none; }
  #disclaimer .btn-default {
    padding: 12px 24px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    background-color: #f86f61;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3); }

#faq {
  position: relative;
  top: -200px;
  position: relative; }
  #faq .row {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 7%;
    padding-right: 7%; }
  #faq h2 {
    padding-left: 15px; }
  #faq .question h3 {
    cursor: pointer; }
  #faq .question p {
    height: 0;
    overflow: hidden; }
  #faq .question .arrow {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 16px;
    border-top: 16px solid #f86f61;
    border-left: 11.2px solid transparent;
    border-right: 11.2px solid transparent; }

footer {
  background-color: #2b4fb2;
  height: 500px;
  padding-left: 5%;
  padding-right: 5%; }
  footer .row {
    padding-top: 40px;
    padding-bottom: 50px; }
  footer form {
    display: flex;
    flex-direction: column;
    color: #ffffff; }
    footer form span {
      color: #ffffff;
      text-align: center;
      font-size: 20px; }
    footer form label {
      color: #ffffff; }
    footer form input {
      background-color: #2b4fb2;
      border: none;
      border-bottom: 1px solid #ffffff;
      margin-bottom: 20px; }
    footer form select {
      color: #2b4fb2;
      margin-top: 10px; }
    footer form .btn-default-1 {
      margin-top: 20px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      padding: 12px 24px;
      color: #2b4fb2;
      border-radius: 50px;
      border: none;
      background-color: #ffffff;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3); }
  footer p, footer a {
    color: #ffffff; }
  footer img {
    width: 50%; }

.interstice {
  position: relative;
  width: 100%;
  height: 400px;
  top: -100px;
  background-size: cover;
  background-position: center;
  z-index: -1; }
  .interstice.img_1 {
    background-image: url("/assets/img/photo_3_bluish.jpg"); }
  .interstice.img_2 {
    top: -300px;
    background-image: url("/assets/img/photo_1_bluish.jpg"); }

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  z-index: 1; }
  header .container-fluid {
    background-color: #ffffff; }

.header-top {
  color: #2b4fb2; }

.navbar-collapse {
  background-color: #2b4fb2; }

.nav.navbar-nav.navbar-right {
  padding-right: 10px; }

#news {
  position: relative;
  top: -400px;
  color: #2b4fb2; }
  #news .row {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 7%;
    padding-right: 3.5%; }
    #news .row h2 {
      padding-left: 15px; }
    #news .row .article {
      padding: 0px;
      padding-right: 30px; }
      #news .row .article img {
        width: 100%; }

@media screen and (max-width: 640px) {
  #news .row {
    padding-left: 0px;
    padding-right: 0px; }
  #news .content {
    padding-left: 0px;
    padding-right: 0px; } }

#show {
  height: 50vh;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position-y: center; }
