* {
  color: #000;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body{
  background-color: #f2f2f2;
}

header{
  height: 0px;
}

main {
  margin-top: 100px;
}

section#disclaimer{
  background-color: #2b4fb2;
  height: 400px;
}

#about h2{
  color: #2b4fb2;
  font-weight: bold;
}

#about p{
  padding-top: 10px;
  font-size: 20px;
}

#about .row{
  margin-top: 40px;
  margin-bottom: 50px;
}

#about img{
  margin-top: 50%;
}

#about a{
  color: #f86f61;
  border-bottom: 2px solid;
}

#about a.video{
  display: inline-block;
  padding-top: 10px;
  font-size: 10px;
  opacity: 0.5;
  color: #f86f61;
  border-bottom: 1px solid;
}

#about a.video:hover{
  text-decoration: none;
  opacity: 1;
}

.content {
  padding: 0 20px;
}

.container {
  max-width: 1160px;
  background-color: #ffffff;
}

#faq{
  top: 200px;
}

.date {
  color: #2b4fb2;
  font-weight: 600;
}

.container-fluid {
  padding: 0 !important;
}

.text-right {
  text-align: right;
}

header .container-fluid {
  background-color: #ffffff;
}

.header-top {
  color: #2b4fb2;
}

.navbar-collapse {
  background-color: #2b4fb2;
}

.nav.navbar-nav.navbar-right {
  padding-right: 10px;
}

#about {
  color: #2b4fb2;
}

#contact form {
  margin-bottom: 12px;
}

#contact label {
  display: block;
  margin: 12px 0;
}

#contact label > input[type=text], #contact label > input[type=email] {
  float: right;
  width: 66%;
}

#contact p > label {
  display: inline-block;
  cursor: pointer;
}

#contact input[type=radio] {
  margin: 0 12px;
}

#contact input[type=submit] {
  width: 100%;
  color: #ffffff;
  background-color: #f86f61;
}

#contact textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  padding: 8px;
}

#faq {
  position: relative;
}

#faq .question h3 {
  cursor: pointer;
}

#faq .question p {
  height: 0;
  overflow: hidden;
}

#show {
  height: 50vh;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position-y: center;
}

footer {
  background-color: #2b4fb2;
}

footer p, footer a {
  color: #ffffff;
}

@media screen and (min-width: 1281px) {
  body {
    font-size: 2em;
  }
}