#about {
    color: $brand-color-blue;
    
    h2{
        color: $brand-color-blue;
        font-weight: bold;
        padding-left: 15px;
    }
    p{
         padding-top: 10px;
         font-size: 20px;
    }
    .row{
        margin-top: 40px;
        margin-bottom: 50px;
        @include auto-padding;
    }
    
    img{
        margin-top: 24px;
        @media #{$pc}{
            margin-top: 50%;
        }
    }
    
    a{
        color: $brand-color-orange;
        border-bottom: 2px solid;
        text-decoration: none;
        &:hover{
            opacity: 0.5;
        }
        &.video{
            display: inline-block;
            padding-top: 10px;
            font-size: 10px;
            opacity: 0.5;
            color: $brand-color-orange;
            border-bottom: 1px solid;    
            &:hover{
                text-decoration: none;
                opacity: 1;
            }
        }
    }
}