#contact{
    form{
        margin-bottom: 12px;
    }
    label{
        display: block;
        margin: 12px 0;

        & > input[type=text], & > input[type=email]{
            float: right;
            width: 66%;
        }
    }

    p > label {
        display: inline-block;
        cursor: pointer;
    }

    input[type=radio]{
        margin: 0 12px;
    }

    input[type=submit]{
        width: 100%;
        color: $brand-color-white;
        background-color: $brand-color-orange;
    }

    textarea{
        width: 100%;
        min-height: 150px;
        resize: vertical;
        padding: 8px;
    }
}