#disclaimer{
    padding: 80px 0!important;
    background-color: $brand-color-blue;
    .row{
        padding: 0 7%;
    }
    
    p{
        color: $brand-color-white;
    }

    a{
        color: $brand-color-white;
        border-bottom: 1px solid white;
        &:hover{
            text-decoration: none;
            color: $brand-color-orange;
            border-bottom: 1px solid $brand-color-orange;
            transition: all ease 0.5s;
        }

        &[href="#form"]{
            border: none;
        }
    }

    .btn-default{
        padding: 12px 24px;
        color: $brand-color-white;
        border-radius: 50px;
        border: none;
        background-color: $brand-color-orange;
        box-shadow: 2px 4px 4px rgba($brand-color-black, 0.3);
        &:hover{
            color: $brand-color-orange; 
            background-color: $brand-color-white;
            transition: color ease 0.5s;
            transition: background-color ease 0.5s;
        }
    }
    .row.center-items{
        @include center-content;
        @media #{$smartphone}{
            max-width: 100vw;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 640px) {
    #disclaimer{
        padding: 50px 0!important;
        text-align: center;
        p.space-after{
            font-size: 20px;
            padding-top: 20px;
        }p.infoline{
            display: none;
        }
    }
}