 #faq{
    @include box-border;
    position: relative;
    margin-top: $space-between-section;
    
    .row{
        @include auto-padding;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    h2{
        padding-left: 15px;
    }
    .question{
        h3{
            width: fit-content;
            position: relative;
            cursor: pointer; 
            transition: color 0.3s;

            @media #{$smartphone-h}{
                font-size: 1.2em;
            }
            @media #{$smartphone-v}{
                font-size: 1em;
                margin: 0;
            }
            
            &.opened{
                color: $brand-color-orange;
                font-weight: bold;

                &>.arrow::after{
                    border-color: transparent;
                }
            }
        }
    
        p{
            overflow: hidden;
        }

        .arrow{
            $arrow-size: 14px;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 16px;
            
            border-top: $arrow-size solid $brand-color-orange;
            border-left: round($arrow-size*0.5) solid transparent;
            border-right: round($arrow-size*0.5) solid transparent;
            
            &::after{
                content: "";
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                top: floor($arrow-size * 0.6);
                right: ceil($arrow-size * 0.1);
                
                border-top: round($arrow-size*0.7) solid $brand-color-white;
                border-left: round($arrow-size*0.35) solid transparent;
                border-right: round($arrow-size*0.35) solid transparent;
                
                transition: border-color 0.2s;
                
                @media#{$smartphone}{
                    top: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #faq .question .arrow::after {
        border-top: 0px;
    }    
}