header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $brand-color-white;
    z-index: 1;

    .container-fluid {
        background-color: $brand-color-white;
    }
}

.header-top {
    color: $brand-color-blue;
}