.interstice{
    position: absolute;
    transform: translateY(-10%);

    width: 100%;
    height: ($space-between-section * 1.2);

    background-position: center 100%;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;

    &.img_1{ 
        background-image: url("/assets/img/photo_3_bluish.jpg"); 
    }
    &.img_2{ 
        background-image: url("/assets/img/photo_1_bluish.jpg");
    }
}