.interstice{
    position: relative;
    width: 100%;
    height: ($space-between-section * 2);
    top: -($space-between-section * 0.25);
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    
    &.img_1{ background-image: url("/assets/img/photo_3_bluish.jpg"); }
    &.img_2{ 
        top: -($space-between-section * 0.75);
        background-image: url("/assets/img/photo_1_bluish.jpg"); 
    }
}