.interstice{
    position: absolute;
    transform: translateY(-10%);
    
    width: 100%;
    height: ($space-between-section * 1.2);

    background-position: center;
    background-attachment: fixed;
    background-size: auto 120vh;
    z-index: -1;

    &.img_1{ 
        background-image: url("../img/photo_3_bluish.jpg");
    }
    &.img_2{ 
        background-image: url("../img/photo_1_bluish.jpg");
    }
}