*{
    color: $brand-color-black;
    font-family: $font-content;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body{
    background-color: $background-color;

    @media screen and (min-width: 1281px) { // Pourquoi 1281px ?
        font-size: 2em;
    }
}

h1, h2, h3{
    color: $brand-color-blue;
    font-family: $font-heading;
}

main {
    margin-top: 100px;
}

.content {
    padding: 0 20px;
}
  
.container {
    max-width: 1160px;
    background-color: $brand-color-white;
}

.date {
    color: $brand-color-blue;
    font-weight: 600;
}

.container-fluid {
    padding: 0 !important;
}

.text-right {
    text-align: right;
}