#news{
    // margin-top: $space-between-section;
    position: relative;
    top: -($space-between-section);
    color: $brand-color-blue;
    .row{
        margin-top: 40px;
        margin-bottom: 50px;
        padding-left: 7%;
        padding-right: 3.5%;
        h2{
            padding-left: 15px;
        }
        .content{
            margin-top: 30px;
            nav{
                margin-top: 30px;
                text-align: center;
            }
            .article{
                padding: 0px;
                padding-right: 30px;
                margin-bottom: 40px;
                .preview{
                    p{
                        display:none;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (max-width: 640px) {
    #news{
        .row{
            padding-left: 0px;
            padding-right: 0px;
        } 
        .content{
            padding-left: 0px;
            padding-right: 0px;
        }
    }   
}