#news{
    // margin-top: $space-between-section;
    position: relative;
    top: -($space-between-section * 2);
    color: $brand-color-blue;
    .row{
        margin-top: 40px;
        margin-bottom: 50px;
        padding-left: 7%;
        padding-right: 3.5%;
        h2{
            padding-left: 15px;
        }
        .article{
            padding: 0px;
            padding-right: 30px;
            img{
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    #news{
        .row{
            padding-left: 0px;
            padding-right: 0px;
        } 
        .content{
            padding-left: 0px;
            padding-right: 0px;
        }
    }   
}